<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.melleeb.employeedirectory"
	version 	= "1.0">

	<name>Mel's Dir</name>

	<description>
		A Sample Employee Directory App
	</description>

	<author href="http://mleeb.wordpress.com"
		email="mel_leeb@hotmail.com">
		Mel Leeb
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>